* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #43766C;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.container header {
    width: 80%;
    margin: 0 auto;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

header .logo li:nth-child(2) img {
    position: absolute;
    width: 50px;
    left: 1300px;
}

/* header .logo li {
    float: right;
} */

section {
    background-color: #F8FAE5;
    width: 80%;
}

.container section {
    width: 80%;
    margin: 0 auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 30px 30px 200px 30px;
    /* padding-bottom: 200%; */
    height: 100%;
}

h1 {
    font-size: 3em;
    color: #76453B;
    overflow: hidden;
}

h2 {
    margin: 10px 0;
}

.title h2 {
    margin-top: none;
}

.upper {
    display: flex;
    flex-direction: row;
}

.upper_left {
    width: 50%;
}

/* .imgslide { */
/* border-radius: 30%; */
/* border: 2px thick double #FF6C22; */
/* } */

.imgslide img {
    width: 50%;
    /* overflow: hidden; */
    border-radius: 50%;
}

@media (max-width: 500px) {
    .upper_left {
        width: 100%;
    }
}

.learnlist>ul {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    display: flex;
    justify-content: row;
    /* height: 350px; */
}

.learnlist ul {
    border: #B19470 5px dashed;

}

.upper_right {
    height: 100%;
    width: 80%;
}

.learnlist ul li {
    text-shadow: 0px 2px 3px 0px gray;
    list-style: none;
}

.learnlist ul li a {
    text-decoration: none;
    color: #3A4D39;
    font-size: 1.4em;
    font-weight: bold;
}

.learnlist_week>ul {
    border-left: none;
    border-bottom: none;
}

li.learnlist_week span {
    font-size: 1.2em;
    font-family: '휴먼둥근헤드라인';
}

li.learnlist_week:last-child {
    width: 80%;
}

li.learnlist_week:last-child>ul {
    border-right: none;
    height: 100%;
    /* display: flex;
    flex: 1; */
    /* width: 300%;
    overflow: hidden; */
}

/* .aboutg {
    height: 10px;
}

.aboutg:hover {
    height: 100%;
    transition: 0.3s;
}

.about:hover a {} */

.lower ul.artc {
    display: flex;
    justify-content: row;
    margin-top: 20px;
}

.lower ul.artc>li {
    width: 100%;
    border: 1px solid #B19470;
    margin: 0 10px;
}

.lower ul.artc>li:first-child {
    margin-left: 0;
}

.lower ul.artc>li:last-child {
    margin-right: 0;
}

ul.artc li {
    list-style: none;
}

/* hr {
    display: none;
} */

.moggak {
    font-family: "맑은고딕";
    font-size: 1.2em;
    font-weight: 600;
}

ul.artc_second li ul li input {
    width: 90%;
}

.controls {
    /* margin-bottom: 30px; */
    float: right;
}

.next-button {
    margin: 10px;
    padding: 30px;
    background-color: transparent;
    border-radius: 15%;
    color:blueviolet;
    border: 5px solid blueviolet;
    font-size: 2.5em;
}

.btn-linking {
    display: block;
}

hr {
    color: #3A4D39;
    width: 100%;
}

div.hr {
    /* left: 5%; */
    text-align: center;
}

#talkAboutRythmic {
    font-weight: 700;
}

.controls {
    float: right;
}
